table {
    border-collapse: collapse;
}

table td {
    width: 25px;
    height: 25px;
    border: 1px solid gray;
}

#board {
    position: absolute;
}

#background-table tr td{
    background-color: darkslategray;
}

